@model BibliotecaMVC.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do Livro</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            <img src="~/@Model.Foto" alt="Imagem @Model.Titulo" height="200" width="200" />
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            Autores
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LivroAutores)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Autor.Nome)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LivroID" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Editar</a>           
    <a asp-action="Index">Voltar para Lista</a>
</div>
