@model BibliotecaMVC.Models.Emprestimo

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Empr&eacute;stimo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>                
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Imagem</th>
            <th>T&iacute;tulo</th>
            <th>Autor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LivroEmprestimo)
        {
            <tr>
                <td>
                    <img class="card-img-top" src="~/@item.Livro.Foto" width="80px" height="40px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Livro.Titulo)
                </td>
                <td>
                    @foreach (var livroAutor in item.Livro.LivroAutores)
                    {
                        @Html.DisplayFor(modelItem => livroAutor.Autor.Nome)
                        <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Voltar</a>

    <br />
    @if (string.IsNullOrEmpty(Model.DataDevolucao))
    {
        <a asp-action="DevolverLivros" asp-route-id="@Model.EmprestimoID"
           class="btn btn-danger">Devolu&ccedil;&atilde;o</a>
    }
</div>
